.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px;

    background-color: #f8fafc;
    min-height: 80vh;
}

.hero-left{
    width: 50%;
}

.hero-left h1{
    font-size: 48px;
    margin-bottom: 20px;
}

.hero-left p{
    font-size:18px;
    color:#555;
    line-height:1.6;
    margin-bottom:30px;
}

.hero-buttons{
    display:flex;
    gap:20px;
}

.hero-buttons button{
    padding:12px 28px;
    border:none;
    border-radius:8px;
    cursor:pointer;
    font-size:16px;
    transition: all 0.3s ease;
}

.hero-right{
    width:45%;
}

.hero-right img{
    width:100%;
    max-width:500px;
    height:auto;
    transition: transform 0.3s ease;
}
.hero-right img:hover {
    transform: scale(1.05);
}
.shop-now {
    background-color: #2563eb;
    color: white;
}

.shop-now:hover {
    background-color: #1d4ed8;
}

.explore {
    background-color: white;
    color: #2563eb;
    border: 2px solid #2563eb !important;
}

.explore:hover {
    background-color: #2563eb;
    color: white;
}